@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: "Prompt", sans-serif;
}

.modal-content {
    background: white;
    border-radius: 20px;
    width: 500px;
    max-width: 90%;
    padding: 30px;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #aaa;
}

.close-button:hover {
    color: #555;
}

.modal-body form {
    display: flex;
    flex-direction: column;
}

.modal-body form label {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
    color: #333;
}

.modal-body form input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px;
    font-size: 14px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}

.save-button,
.close-button {
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

.save-button {
    background-color: #3cb371; /* Medium Sea Green */
    color: white;
    margin-right: 12px;
}

.save-button:hover {
    background-color: #2ea95b;
}

.close-button {
    background-color: #ed412e; /* Pomegranate */
    color: white;
}

.close-button:hover {
    background-color: #d33926;
}

.errorMessage {
    margin-top: 4px;
    margin-bottom: 0;
    color: #ed412e;
    font-size: 12px;
    font-weight: 500;
}
